<div class=" bg-white  grid grid-cols-2 gap-2 mt-8">
  <a class="shadow-card card-hover max-w-2xl" href="">
    <div class="p-4 text-sm text-center">
      <h4 class="text-base font-bold sm:text-4xl px-2 py-2 sm:text-3xl" >Competências</h4>
      <p class="font-inter sm:text-2xl">
        Clique aqui para encontrar uma breve introdução sobre as competências do ENEM.
      </p>
    </div>
  </a>

  <a class="shadow-card card-hover max-w-2xl" href="#">
    <div class="p-4 text-sm text-center">
      <h4 class="text-base font-bold sm:text-4xl px-2 py-2 sm:text-3xl" >Provas</h4>
      <p class="font-inter sm:text-2xl">
        Clique para encontrar um acervo com as provas do ENEM de 2013 a 2023
      </p>
    </div>
  </a>
</div>
