@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text-nav {
    @apply font-bold font-inter text-3xl
}

.text-main-h2 {
    @apply font-bold font-inter sm:text-3xl
}

.text-main-p {
    @apply font-inter font-normal sm:text-xl
}